.App{
    height: 100vh;
    width: 100vw;
  }

.home{
  background: rgb(233, 73, 73);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home h1{
  color: #ddd;
}
.home a{
    text-decoration: none;
    color: #fff;
}

.about{
  background: rgb(73, 233, 233);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about p{
  color: #ddd;
}
.about a{
  text-decoration: none;
}

.bg{
  background: linear-gradient(to right, rgb(173, 0, 165),rgb(231, 0, 252) ,rgb(0, 38, 253));
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
}